.twin-container{
    display: flex;
}
.item-container{
    width: 70%;
    margin: 5px 10px;
    padding: 5px 0 5px 50px;
    border-right: 1px solid lightgray;
}
.cart-container{
    width: 30%;
    padding-right: 30px;
}