.product{
    display: flex;
    margin: 0 0 10px 30px;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}
.product-img{
    width: 30%;
    margin-right: 10px;
}
.product-img img{
    width: 200px;
}
.product-description{
    width: 70%;
    margin-right: 20PX;
}
.product-description h5{
    font-size: 15px;
    font-weight: 400;
    color: rgb(44, 44, 255);
}
.addCartBtn{
    width: 150px;
    padding: 3px;
    font-size: 15px;
    background-color: rgb(255, 208, 0);
    border: 1px solid rgb(24, 11, 11);
    border-radius: 5px;
}